<h1>Available Jobs</h1>

<% if current_user.contractor? %>
  <%= link_to 'Post a Job', new_job_path %> <!-- Only for contractors -->
<% end %>
<%= render "shared/link" %>

<table>
  <thead>
    <tr>
      <th>Job Title</th>
      <th>Location</th>
      <th>Salary</th>
      <th>Details</th> <!-- Column for the job details link -->
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.name %></td>
        <td><%= job.location %></td>
        <td><%= number_to_currency(job.salary) %></td> <!-- Converts salary to a currency format -->
        <td><%= link_to 'View Job', job_path(job) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
