<h2>Applicants for <%= @job.name %></h2>
<table style="width:45%">
  <thead>
    <tr>
      <th>Description</th>
      <th>Soft Skills</th>
      <th>Expected Salary</th>
      <th>Status</th>
      <%# <th>Applicant's Profile</th> %>
      
    </tr>
  </thead>
  <tbody>
    <% @applicants.each do |applicant| %>
      <tr>
        <td><%= applicant.description %></td>
        <td><%= applicant.softskills %></td>
        <td><%= applicant.expected_salary %></td>
        <td><%= applicant.status %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Job', job_path(@job) %>
