<h2>Applicants for <%= @job.name %></h2>
<table style="width:45%">
  <thead>
    <tr>
      <th>Description</th>
      <th>Soft Skills</th>
      <th>Expected Salary</th>
      <th>Status</th>
      <th>Applicants Profile</th>
      <th>Applicant selected</th>
      
    </tr>
  </thead>
  <tbody>
    <% @applicants.each do |applicant| %>
      <tr>
        <td><%= applicant.description %></td>
        <td><%= applicant.softskills %></td>
        <td><%= applicant.expected_salary %></td>
        <td><%= applicant.status %></td>
        <td><%= link_to 'View Profile', profile_path(applicant.worker_id) %></td>
        <td>
          <%= link_to 'Edit Status', edit_job_job_application_path(@job, applicant) %>
        </td>
     </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Back to Job', job_path(@job) %>
 <%# partials %>
<%= render 'shared/link' %>




