<h1>Contractor Dashboard</h1>

<p>Welcome, <%= @contractor.name %>!</p>

<ul>
  <li>Email: <%= @contractor.email %></li>
  <li>Contact Number: <%= @contractor.contact_no %></li>
  <li>Location: <%= @contractor.location %></li>
</ul>


<%= link_to 'create jobpost', new_job_path %>
<%= link_to 'See Jobs', jobs_path %>
<%= link_to 'MyJobs', my_jobs_jobs_path %>


